{% include head-light.html %}

<section class="article">
  <div class="featured-image">
      <div class="engdrawing">
          <div class="titleblock">
              <div class="title"><span>{{ page.title }}</span></div>
              <div class="date">
                  {{ page.date | date: "%m/%-d/%y" }}
                  <div class="datefield"></div>
              </div>
              <div class="author">
                  {{ page.author }}
                  <div class="authorfield"></div>
              </div>
          </div>
          <div class="views"><span>View 1</span><span>View 2</span><span>View 3</span></div>
          <div class="engr-content">
          </div>
      </div>
  </div>

  <div class="design">


    <article class="post-content">
      {{ content }}
    </article>

  </div>
</section>


{% include footer.html %}
