{% include head.html %}

<section class="article">
  <div class="featured-drawing">
      <div class="engdrawing">
          <div class="titleblock">
              <div class="title">
                  <span>{{ page.title }}</span>
                  <div class="titlefield"></div>
              </div>
              <div class="date">
                  {{ page.date | date: "%m/%-d/%y" }}
                  <div class="datefield"></div>
              </div>
              <div class="author">
                  {{ page.author }}
                  <div class="authorfield"></div>
              </div>
          </div>
          <div class="views"><span>View 1</span><span>View 2</span><span>View 3</span></div>
          <div class="engrborder a left">a</div>
          <div class="engrborder a right">a</div>
          <div class="engrborder b left">b</div>
          <div class="engrborder b right">b</div>
          <div class="engrborder c left">c</div>
          <div class="engrborder c right">c</div>
          <div class="engrborder d left">d</div>
          <div class="engrborder d right">d</div>
          <div class="engrborder e left">e</div>
          <div class="engrborder e right">e</div>
          <div class="engrborder f left">f</div>
          <div class="engrborder f right">f</div>
          <div class="engrborder g left">g</div>
          <div class="engrborder g right">g</div>
          <div class="engrborder h left">h</div>
          <div class="engrborder h right">h</div>
          <div class="engrborder i left">i</div>
          <div class="engrborder i right">i</div>
          <div class="engrborder j left">j</div>
          <div class="engrborder j right">j</div>

          <div class="engrborder one top">1</div>
          <div class="engrborder one bottom">1</div>
          <div class="engrborder two top">2</div>
          <div class="engrborder two bottom">2</div>
          <div class="engrborder three top">3</div>
          <div class="engrborder three bottom">3</div>
          <div class="engrborder four top">4</div>
          <div class="engrborder four bottom">4</div>
          <div class="engrborder five top">5</div>
          <div class="engrborder five bottom">5</div>
          <div class="engrborder six top">6</div>
          <div class="engrborder six bottom">6</div>
          <div class="engrborder seven top">7</div>
          <div class="engrborder seven bottom">7</div>
          <div class="engrborder eight top">8</div>
          <div class="engrborder eight bottom">8</div>
          <div class="engrborder nine top">9</div>
          <div class="engrborder nine bottom">9</div>
          <div class="engrborder ten top">10</div>
          <div class="engrborder ten bottom">10</div>
          <div class="engrcontent"></div>
      </div>
  </div>

    <article class="post">
        <h1 class="title">{{ page.title }}</h1>
      {{ content }}
    </article>

</section>


{% include footer.html %}
