{% include head-dark.html %}

<section class="article archive">
  <article class="archive-wrap">

    <!-- Define Responsive Image Tiles: For Best Effect Use Square Images and a lot more Images -->
     <div class="gridWrapper">
      <div class="tile">
        <div class="tileInner">
          <a href="cv/"><p data-content="cv"></p></a>
        </div>
      </div>
      <div class="tile-double">
        <div class="tileInner papers">
          <a href="papers/"><p data-content="publications"></p></a>
        </div>
      </div>
      <div class="tile-double double">
        <div class="tileInner design">
          <a href="design/"><p data-content="design"></p></a>
        </div>
      </div>
      <div class="tile-double">
        <div class="tileInner code">
          <a href="codes/"><p data-content="open source codes"></p></a>
        </div>
      </div>
      <!--
      <div class="tile">
        <div class="tileInner code">
          <a href="#"><p data-content="simulations"></p></a>
        </div>
      </div>
      <div class="tile">
        <div class="tileInner class">
          <a href="#"><p data-content="teaching materials"></p></a>
        </div>
      </div> -->

    </div>
  </article>
</section>

{% include footer.html %}
