{% include head.html %}

<section class="article pad-top">

      <article class="full-width">
        <header class="post-header">
          <hgroup>
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}<div class="subtitle">{{ page.subtitle }}</div>{% endif %}
            <div class="intro">{% if page.description %}{{ page.description | markdownify }}{% else %}{{ page.tagline | markdownify }}{% endif %}</div>
          </hgroup>
          <!-- put the search/filter bar here -->
        </header>


        <div style='width:100%;' id='users'>
            <div style='max-width:33%; display: inline-block;' class="sort-buttons">
              <input type="checkbox" class='nocheck' id="filter-sort-toggle" />
              <label class="button-container" for="filter-sort-toggle">
                <span class="button-container-label">Sort</span>
                <button class="sort" data-sort="title">Sort by title</button>
                <button class="sort" data-sort="date">Sort by date</button>
              </label>
            </div>

            <div style='max-width:33%; display: inline-block;' class="filter-buttons">
              <input type="checkbox" class='nocheck' id="filter-tags-toggle" />
              <label class="button-container" for="filter-tags-toggle">
                <span class="button-container-label">Tags</span>
                  <button id="clear-filter" class='filter'>clear</button>
                  {% assign str = '' %}
                  {% assign array = str | split:';' | sort %}
                  {% if page.from_posts %}
                  {% capture keywords %}{% for post in site.categories[page.category] %}{% assign localarray = post.keywords | split:',' | sort %}{% for keyword in localarray %}{% unless array contains keyword %}{{ keyword }};{% capture keywordsstr %}{{ keywordsstr }};{{ keyword }}{% endcapture %}{% assign array = keywordsstr | split: ';' | sort %}{% endunless %}{% endfor %}{% endfor %}{% endcapture %}
                  {% else %}
                  {% capture keywords %}{% for code in page.codes %}{% assign localarray = code.keywords | split:',' | sort %}{% for keyword in localarray %}{% unless array contains keyword %}{{ keyword }};{% capture keywordsstr %}{{ keywordsstr }};{{ keyword }}{% endcapture %}{% assign array = keywordsstr | split: ';' | sort %}{% endunless %}{% endfor %}{% endfor %}{% endcapture %}
                  {% endif %}
                  {% assign sortedkeywords = keywords | split: ';' | sort %}
                  {% for keyword in sortedkeywords %}
                      <button class="filter">{{ keyword }}</button>
                  {% endfor %}
              </label>
            </div>
            {% if page.from_posts %}{% else %}
                <div style='max-width:33%; display: inline-block;' class="filter-type-buttons">
                  <input type="checkbox" class='nocheck' id="filter-button-toggle" />
                  <label class="button-container" for="filter-button-toggle">
                    <span class="button-container-label">Type</span>
                    <button id="clear-filter-type" class='filter-type'>clear</button>
                  {% assign str = '' %}
                  {% assign array = str | split:';' | sort %}
                  {% capture keywords %}{% for code in page.codes %}{% assign localarray = code.type | split:',' | sort %}{% for keyword in localarray %}{% unless array contains keyword %}{{ keyword }};{% capture keywordsstr %}{{ keywordsstr }};{{ keyword }}{% endcapture %}{% assign array = keywordsstr | split: ';' | sort %}{% endunless %}{% endfor %}{% endfor %}{% endcapture %}
                  {% assign sortedkeywords = keywords | split: ';' | sort %}
                  {% for keyword in sortedkeywords %}
                    <button class="filter-type">{{ keyword }}</button>
                  {% endfor %}
                  </label>
                </div>
            {% endif %}



            <ul class='list grid'>
            {% if page.content_before %}  {{ content }} {% endif %}
            {% unless page.content_before %} {{ content }}{% endunless %}
            </ul>
        </div>
        <script src="{{ site.url }}/assets/list.js"></script>
        <script>
        var options = {
          valueNames: [ 'title', 'long-title', 'date', 'keywords', 'type' ]
        };

        var userList = new List('users', options);

        $('.filter').click(function() {
          string = $(this).text();
          $(this).toggleClass("activefilter");
          userList.filter(function(item) {
            if (item.values().keywords.indexOf(string) != -1) {
              return true;
            } else {
              return false;
            }
          });
          return false;
        });
        $('.filter-type').click(function() {
          string = $(this).text();
          $(this).toggleClass("activetypefilter");
          userList.filter(function(item) {
            if (item.values().type.indexOf(string) != -1) {
              return true;
            } else {
              return false;
            }
          });
          return false;
        });
        $('#clear-filter').click(function() {
          userList.filter();
          $(".activefilter").toggleClass("activefilter");
          return false;
        });
        $('#clear-filter-type').click(function() {
          userList.filter();
          $(".activetypefilter").toggleClass("activetypefilter");
          return false;
        });
        </script>

      </article>
    </section>
</div>

{% include footer.html %}
