{% include head.html %}

<section class="article pad-top">

      <article class="full-width">
        <header class="post-header">
          <hgroup>
            <h1>{{ page.title }}</h1>
            <p class="intro">{% if page.description %}{{ page.description }}{% else %}{{ page.tagline }}{% endif %}</p>
          </hgroup>
          <!-- put the search/filter bar here -->
        </header>

        {% if page.dif_views %}
        <div class='view_menu'>
            {% for view in page.views %}
            <div class='view'>{{view.name}}</div>
            {% endfor %}
        </div>
        {% endif %}

        <div class='grid'>
        {% if page.from_posts %}
          {% for post in site.categories[page.category] %}
          <a class="cell" href="../{{post.url}}" type="{{post.type}}" keywords="{{post.type}},{{post.keywords}}">
            <div class='title'>
                {% if post.long_title %}<div class='long-title'>{% endif %}
                {{post.title}}
                {% if post.long_title %}</div>{% endif %}
            </div>
          </a>
          {% endfor %}
        {% else %}
          {% for code in page.codes %}
          <a class="cell" href="../{{code.link}}" type="{{code.type}}" keywords="{{code.type}},{{code.keywords}}">
            <div class='title'>{{code.title}}</div>
          </a>
          {% endfor %}
        {% endif %}

        </div>

      </article>
    </section>
</div>

{% include footer.html %}
