{% if page.feature.type == "chart" %}

{% include head.html %}

<section class="article">

  <div class="overlay overlay-lighter"></div>
  <div class="featured-image">
  	{% case page.feature.path %}
	{% when 'design' %}
		{% assign chart=site.data.design.chart %}
	{% when 'code' %}
	     {% assign chart=site.data.code.chart %}
	{% else %}
	     {% break %}
	{% endcase %}

  	<div class="chart" data-size={% include total.liquid chart=chart%}>
	    {% for task in chart %}{% assign t=task[1] %}
		    <div class="task {{ task[0] }}" data-size={% include subtotal.liquid t=t %} data-percentage={{ subtotal | times:100 | divided_by: total}}>
		    	{{ task[0] }}
		    	{% for subtask in t %}
		    		<div class = "subtask {{ task[0] }} {{ subtask[0] }}" data-size={{ subtask[1] }} data-percentage={{ subtask[1] | times: 100 | divided_by: subtotal }} total-percentage={{ subtask[1] | times: 100 | divided_by: total }}>{{ subtask[0] }}</div>
		    	{% endfor %}
		    </div>
	    {% endfor %}
	</div>
  </div>
{% else %}

{% include head.html %}

<section class="article pad-top">

    {% if page.image.feature %}
      <div class="overlay"></div>
      {% if page.image.feature contains 'https://' | escape or page.image.feature contains 'http://' | escape %}
      <div class="featured-image" style="background-image: url({{ page.image.feature }})"></div>
      {% else %}
      <div class="featured-image" style="background-image: url({{site.baseurl}}/{{ page.image.feature }})"></div>
      {% endif %}
    {% else %}
      <div class="overlay"></div>
      <div class="featured-image" style="background-image: url({{ site.url }}/images/typewriter.jpg)"></div>
    {% endif %}

{% endif %}


      <article class="wrap post">

        {{ content }}

      </article>
    </section>
</div>

{% include footer.html %}
