{% include head.html %}

<section class="article">

{% if page.image.feature %}
  <div class="overlay"></div>
  {% if page.image.feature contains 'https://' | escape or page.image.feature contains 'http://' | escape %}
  <div class="featured-image" style="background-image: url({{ page.image.feature }})"></div>
  {% else %}
  <div class="featured-image" style="background-image: url({{ site.url }}/images/{{ page.image.feature }})"></div>
  {% endif %}
{% else %}
  <div class="overlay"></div>
  <div class="featured-image" style="background-image: url({{ site.url }}/images/typewriter.jpg)"></div>
{% endif %}


      <article class="wrap post">

        {{ content | replace: '<li>[ ]',
        '<li class="box task-list-item">
        <input type="checkbox" class="task-list-item-checkbox" disabled>' |
    replace: '<li>[x]',
        '<li class="box_done task-list-item">
        <input type="checkbox" class="task-list-item-checkbox" value="on" disabled checked>' }}

        {% if page.comments %}
          {% include comments.html %}
        {% endif %}
      </article>

    </section>
</div>

{% include footer.html %}
